*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* start banner section */
.banner{
    background-image: url(../images/donation-bg.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10%;
}
.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-text h1{
    color: white;
    text-align: center;
    font-size: 70px;  
}
.banner-text p{
    text-align: center;
    color: white;
    padding: 20px 0 70px 0;
}
.button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 700;
}
/* start donate today section  */
.donate-today{
    width: 100%;
    padding: 10%;
}
.donate-today h2{
    text-align: center;
    color: black;
    font-size: 50px;
}
.donate-today p{
    text-align: center;
    padding: 20px 0px 50px 0px;
    color: gray;
}
.amount{
    display: flex;
    width: 80%;
    padding: 50px;
    margin: auto;
}
.half-div{
    width: 20%;
    margin:10px;
    background-color: rgba(239, 232, 232, 0.7);
    padding: 40px 20px;
    border-radius: 10px;
}
.selected-div{
    width: 20%;
    margin:10px;
    background-color:rgba(255, 144, 124,0.3);
    padding: 40px 20px;
    border-radius: 10px;
    font-size: 25px;
    border: 3px solid tomato;
    cursor: pointer;
}
.selected-div h2{
    font-size: 25px;
    color: tomato;
}
.half-div h2{
    font-size: 25px;
    color: gray; 
}
.input-taka{
    width: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#input-field{
    padding: 10px 300px;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 50px;
}






